/* Navbar.css */
.navbar {
  background-color: #333; /* Background color for the navbar */
  color: white; /* Text color */
  padding: 10px; /* Padding for the navbar */
}

/* AdminReviews.css */
.admin-reviews-container {
  margin: 60px; /* Margin around the container */
}

.review-item {
  background-color: #f9f9f9; /* Background color for review items */
  border: 1px solid #ddd; /* Border */
  border-radius: 5px; /* Border radius */
  padding: 20px; /* Padding */
  margin-bottom: 20px; /* Margin bottom */
}

.review-item p {
  margin: 0; /* Margin for paragraphs */
  padding: 5px 0; /* Padding for paragraphs */
}

.review-item p:first-child {
  font-weight: bold; /* Bold font for the first paragraph */
}

.delete-button {
  background-color: #dc3545; /* Background color for delete button */
  color: #fff; /* Text color */
  border: none; /* No border */
  padding: 8px 16px; /* Padding */
  border-radius: 5px; /* Border radius */
  cursor: pointer; /* Cursor pointer */
  transition: background-color 0.3s ease; /* Transition effect */
}

.delete-button:hover {
  background-color: #c82333; /* Background color on hover */
}
.fake-review {
  background-color: #ffcccc; /* Light red background color for fake reviews */
  border: 1px solid #ff3333; /* Red border */
}
